@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #FF6600;
    color: white;
    cursor: pointer;
}

/* Navbar */
.navbar{
    width: 80%;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.nav-logo{
    max-width: 240px;
}

.nav-menu ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.nav-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
}

.login-signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* Hero */

.hero{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-image{
    width: 100%;
}

.hero-title{
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.hero-discription{
    font-size: 22px;
    color: #000000c2;
}

.hero-bottom{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.login{
    cursor: pointer;
}

.play{
    cursor: pointer;
}

/* Vison */
.Vison{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.graphics-design{
    margin-top: 80px;
    max-width: 352px;
    padding: 41px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 50px;
    margin-bottom: 20px;
}

.graphics-design .heading{
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 20px;
}

.graphics-design .graphics-design-discription{
    font-size: 1rem;
    color: #000000c2;
    margin-bottom: 20px;
}

.vison-contsiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 10px;
}

.vison-title{
    font-size: 44px;
    font-weight: 400;
}

/* mask */
.mask{
    width: 80%;
    margin: 7rem auto;
}

.mask-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.mask-container .mask-image{
    width: 687px;
}

.mask-content-heading{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(255, 94, 94);
    margin-bottom: 2rem;
}

.mask-content-discription{
    font-size: 1rem;
    font-weight: 400;
    max-width: 332px;
    margin-bottom: 100px;
}

.explore{
    padding: 10px 35px;
    background-color: white;
    color: rgb(255, 94, 94);
    border: 1px solid rgb(255, 94, 94);
    border-radius: 30px;
    cursor: pointer;
}
/* Clients */
.clients{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.clients-top{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 10px;
}

.clients-title{
    font-size: 44px;
    font-weight: 400;
}

.clients-comment{
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    gap: 20px;
    padding: 30px;
    /* border: 1px solid salmon; */
}

.client-cntainer{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* grid-template-columns: 50% 50%; */
    margin: 60px 0;
    gap: 50px;
    align-items: center;
}

.comment{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.name{
    font-weight: 600;
    color: #00000044;
}

/* team */
.team{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.team-top{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 10px;
}

.team-title{
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 70px;
}

.team-section{
    width: 33%;
    border: 1px solid rgba(22, 22, 21, 0.582);
    align-items: center;
    padding: 45px 0 0;
    border-radius: 10px;
}

.member-name{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
}

.deg{
    margin-bottom: 20px;
    color: rgba(22, 22, 21, 0.582);
}

.card-footer {
  display: flex;
  border-top: 1px solid rgba(22, 22, 21, 0.582);
}

.card-footer div {
  flex: 1;
  height: 40px;
  border-right: 1px solid rgba(22, 22, 21, 0.582);
}

.card-footer div:last-child {
  border-right: none;
}

.team-board{
    display: flex;
    gap: 20px;
}

/* newsletter */
.newsletter{
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.newsletter-top{
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 10px;
}

.newsletter-title{
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 70px;
}

.kham-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.kham{
    /* width: 100%; */
}

.newsletter-discription{
    max-width: 680px;
    text-align: start;
    margin-bottom: 50px;
}

.Your-mail{
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    margin-bottom: 30px;
}

.subscribe{
    width: 100%;
}


/* footer */
footer{
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
.footer-upper-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-right p{
    color: #FF6600;
    cursor: pointer;
}

.last{
    margin-top: 30px;
    color: #0000007c;
}


.display-none{
    display: none;
}

/* responsive for small device */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    
    .nav-menu ul {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .login-signup {
        gap: 20px;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
    }

    /* vision */
    .vison-contsiner {
        flex-direction: column;
    }

    /* mask */
    .mask-container {
        flex-direction: column;
    }

    .mask-content-discription {
        margin-bottom: 50px;
    }

    .mask-container .mask-image {
        width: 100%;
    }

    /* client */
    .client-cntainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /* team */
    .team-board {
        flex-direction: column;
    }

    .team-section {
        width: 100%;
    }
    
    .team-section img{
        width: 50%;
    }
    
    /* kham */
    .kham-container {
        flex-direction: column;
    }

    /* footer */
    .footer-upper-container {
        flex-direction: column;
    }

    .footer-right {
        flex-direction: column;
        margin-top: 20px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu ul {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .login-signup {
        gap: 40px;
        margin-bottom: 60px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content{
        margin-bottom: 60px;
    }

    img {
        width: 100%;
    }

    .vison-contsiner {
        flex-direction: column;
    }

    .mask-container {
        flex-direction: column;
    }

    .mask-content-discription {
        margin-bottom: 40px;
    }

    .mask-container .mask-image {
        width: 100%;
    }

    .client-cntainer {
        gap: 20px;
    }

    .team-board {
        flex-direction: column;
    }

    .team-section {
        width: 100%;
    }

    .team-section img{
        width: 50%;
    }

    .footer-upper-container {
        flex-direction: column;
    }

    .footer-right {
        margin-top: 20px;
    }
}