@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #FF6600;
    color: white;
}

/* Navbar */
.navbar{
    width: 80%;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.nav-logo{
    max-width: 240px;
}

.nav-menu ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.nav-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 28px;
}

.login-signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* Hero */

.hero{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-image{
    width: 100%;
}

.hero-title{
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.hero-discription{
    font-size: 22px;
    color: #000000c2;
}

.hero-bottom{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 20px;
}